<template>
  <div class="container">
    <Breadcrumb :items="['自动化构建', '工作台']" />
    <a-table :columns="columns" :data="data.projectList">
      <template #appList="{ record }">
        <a-select
          v-model="record.currentSelectAppList"
          placeholder="请选择需要构建的项目"
          multiple
          :style="{ width: '320px' }"
        >
          <a-option
            v-for="item in record.appList"
            :key="item"
            :label="item"
          ></a-option>
        </a-select>
      </template>
      <template #branchList="{ record }">
        <a-select
          v-model="record.currentSelectbranch"
          placeholder="请选择需要构建的分支"
          :style="{ width: '320px' }"
          value-key="name"
        >
          <a-option
            v-for="item in record.branchList"
            :key="item.name"
            :label="item.name"
            :value="item"
          ></a-option>
        </a-select>
      </template>
      <template #opeartion="{ record }">
        <a-button type="primary" status="success" @click="openModal(record)"
          >开始构建</a-button
        >
      </template>
    </a-table>

    <a-modal
      v-model:visible="data.visible"
      @ok="startBuild"
      @cancel="
        data.visible = false;
        data.modalData!.currentSelectbranch = {};
      "
    >
      <template #title> 温馨提示 </template>
      <div>
        当前选择构建的项目为：{{
          data.modalData?.currentSelectAppList?.join(',')
        }}
      </div>
      <div>当前选择构建的分支信息如下：</div>
      <div v-if="data.modalData?.currentSelectbranch?.name">
        <a-collapse
          :default-active-key="[data.modalData?.currentSelectbranch.name]"
        >
          <a-collapse-item
            :key="data.modalData?.currentSelectbranch.name"
            :header="data.modalData?.currentSelectbranch.name"
          >
            <div
              >Hash值：{{ data.modalData?.currentSelectbranch.commit!.id }}</div
            >
            <div
              >提交人员：{{
                data.modalData?.currentSelectbranch.commit!.author_name
              }}</div
            >
            <div
              >提交时间：{{
                dayjs(
                  data.modalData?.currentSelectbranch.commit!.committed_date
                ).format('YYYY-MM-DD HH:mm:ss')
              }}</div
            >
            <div
              >提交内容：{{
                data.modalData?.currentSelectbranch.commit!.message
              }}</div
            >
          </a-collapse-item>
        </a-collapse>
      </div>
    </a-modal>
  </div>
</template>

<script lang="ts" setup>
  import {
    getAllProjects,
    getRepositoryTree,
    getRepositoryBranches,
    AllProjectItem,
    Commit,
  } from '@/api/automatedBuild';
  import { Message, TableColumnData } from '@arco-design/web-vue';
  import { onMounted, reactive } from 'vue';
  import dayjs from 'dayjs';
  import { startBuildAPI } from '@/api/automatedBuildServer';

  interface ProjectItem {
    id: number;
    name: string;
    currentSelectAppList?: string[];
    appList?: string[];
    currentSelectbranch?: { name?: string; commit?: Commit };
    branchList?: { name: string; commit: Commit }[];
  }

  const columns: TableColumnData[] = [
    {
      title: '仓库ID',
      dataIndex: 'id',
      align: 'center',
    },
    {
      title: '仓库名称',
      dataIndex: 'name',
      align: 'center',
    },
    {
      title: '构建项目',
      dataIndex: 'appList',
      slotName: 'appList',
      align: 'center',
    },
    {
      title: '构建分支',
      dataIndex: 'branchList',
      slotName: 'branchList',
      align: 'center',
    },
    {
      title: '操作',
      dataIndex: 'opeartion',
      slotName: 'opeartion',
      align: 'center',
    },
  ];

  const data: {
    projectList: ProjectItem[];
    visible: boolean;
    modalData?: Required<
      Pick<ProjectItem, 'currentSelectAppList' | 'currentSelectbranch'>
    >;
  } = reactive({ projectList: [], visible: false });

  onMounted(async () => {
    try {
      const res = await getAllProjects();
      res.forEach(async (item) => {
        data.projectList.push({
          id: item.id,
          name: item.name,
          currentSelectAppList: [],
          appList: await handleRepositoryTree(item),
          branchList: await handleRepositoryBranches(item),
          currentSelectbranch: undefined,
        });
      });
    } catch (e) {
      Message.error(String(e));
    }
  });

  const handleRepositoryTree = async (item: AllProjectItem) => {
    try {
      const nameList: string[] = [];
      const res = await getRepositoryTree(item.id);
      res.forEach((item) => {
        nameList.push(item.name);
      });
      return nameList;
    } catch (e) {
      Message.error(String(e));
      return [];
    }
  };

  const handleRepositoryBranches = async (item: AllProjectItem) => {
    try {
      const branchList: { name: string; commit: Commit }[] = [];
      const res = await getRepositoryBranches(item.id);
      res.forEach((item) => {
        branchList.push({
          name: item.name,
          commit: item.commit,
        });
      });
      return branchList;
    } catch (e) {
      Message.error(String(e));
      return [];
    }
  };

  const openModal = (item: ProjectItem) => {
    if (!item.currentSelectAppList?.length || !item.currentSelectbranch?.name) {
      return Message.info('请先选择构建的项目/分支');
    }
    data.modalData = {
      currentSelectAppList: item.currentSelectAppList,
      currentSelectbranch: item.currentSelectbranch,
    };
    data.visible = true;
  };

  /** 请求后端接口 */
  const startBuild = async () => {
    try {
      if (!data.modalData?.currentSelectAppList.length) return;
      const params = {
        currentSelectAppList: data.modalData.currentSelectAppList,
        currentSelectbranch: data.modalData?.currentSelectbranch,
      };
      await startBuildAPI(params);
      Message.success('构建成功');
    } catch (e) {
      Message.error('构建失败');
    }
  };
</script>

<script lang="ts">
  export default {
    name: 'AutomatedBuild',
  };
</script>

<style scoped lang="less">
  .container {
    padding: 0 20px 20px;
  }
</style>
